<h1>
  {{title}}
</h1>
<h2>{{error}}</h2>

<p>
  {{nombre}} - {{apellido}}
</p>

<p>
  {{nombreCompleto()}}
</p>

<h3 [innerHTML]="nombreCompleto()" (click)="hizoClick()" [style.backgroundColor] ></h3>

<div class="animated slideInUp" [hidden]="!nombre.errors">
  <span class="bg-primary" *ngIf=""nombre.errors &&(nombre.dirty||nombre.touched)>"Ingrese un nombre minimo de 4"</span>
</div>

<input type="text" [placeholder]="nombreCompleto()" (focus)="hizoFocus()">

<div class="container">
  <div class="col-sm-12">
    <pre>{{nuevaTienda.nombre|json}}</pre>
  </div>
  <form class="animated bounceIn"(ngSubmit)="crearTienda(NuevaTiendaForm)" #NuevaTiendaForm="ngForm">
    <div class="form-group">
      <label>Tienda</label>
      <input type="text"
             class="form-control"
             placeholder="Digite un nombre de tienda como: Adidas"
             name="nombre"
             [(ngModel)]="nuevaTienda.nombre">
    </div>
    <button type="submit" class="btn btn-block btn-success">Crear</button>
  </form>

</div>
<div >
  <h1>{{nuevaTienda.nombre}}</h1>
</div>


<div class="col-sm-3" *ngFor="let tienda of tiendas">
  <h3>{{tienda.nombre}}</h3>
  <p>ID: {{tienda.id}}</p>
</div>
