h1{
    background-color: brown
}
h1:hover{
    background-color: aqua
}
.borde{
    border: black 2 px
}
th{
    background-color: bisque;
    color:blue
    
}
tr:nth-child(even){
    background-color: aqua
}

tr:nth-child(odd){
    background-color: aquamarine
}